body, html {
    height: 100%;
    margin: 0;
}




.logoSlider{
    width:300px !important;

}



.fullscreen .indicators{
    visibility: hidden;
}

.modal {
    width: 70% !important ;
    max-height: 80% !important;
}

/*mobile*/

@media only screen and (max-width: 1025px) {



    #bucuresti{
        position: absolute;
        transform: rotate(-3.8deg);
        top:135% !important;
        left:59%;
    }

    
    #ploiesti{
        position: absolute;
        transform: rotate(-3.8deg);
        top:127% !important;
        left:57%;
    }
    
    #brasov{
        position: absolute;
        transform: rotate(-3.8deg);
        top:120% !important;
        left:51%;
    }
    
    #focsani{
        position: absolute;
        transform: rotate(-3.8deg);
        top:118% !important;
        left:67%;
    }

    .orase img{
        z-index: 10;
        width:40px !important;
    
    }

    #googleMap{
        width:100% !important;
        height: 450px !important;
        margin:auto;
    }


}


#bucuresti-modal.modal, #brasov-modal.modal, #ploiesti-modal.modal, #focsani-modal.modal,#contact-modal.modal{
    background-color: #f5d5a0 !important;
}

#googleMap{
    width:100%;
    margin:auto;
}

#map{
    margin-top:100vh !important;
    background-color: #492723;
    background-image: linear-gradient(90deg, transparent 50%,
    #f5d5a0 50%);
    background-size: 100px 100px;
    height: 100vh !important;
    text-align: center;
}

#map #map-img{
    height:100vh;
    z-index:1;

    opacity:0.97;
}


.orase img{
    z-index: 10;
    width:60px;

}


#bucuresti:hover, #ploiesti:hover, #brasov:hover, #focsani:hover{
    transform: scale(1.4);
    background-color:#492723;
    text-align: center;
    z-index: 1002;
}


#bucuresti{
    position: absolute;
    transform: rotate(-3.8deg);
    top:165%;
    left:59%;
}

#bucuresti p, #brasov p, #focsani p, #ploiesti p{
    margin:0;
    color:#f5d5a0 !important;
    text-align: center;
}

#ploiesti{
    position: absolute;
    transform: rotate(-3.8deg);
    top:152%;
    left:57%;
}

#brasov{
    position: absolute;
    transform: rotate(-3.8deg);
    top:142%;
    left:51%;
}

#focsani{
    position: absolute;
    transform: rotate(-3.8deg);
    top:138%;
    left:67%;
}

.slider.slider-modal{
    width:85%;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.slider .indicators .indicator-item.active{
    background-color: rgb(73, 39, 35) !important;
}

.slider li.indicator-item{
    background-color: white !important;
}

.modal-header{
    text-align: center;
}

.modal-footer{
    background-color:rgb(73, 39, 35) !important;
}

a.modal-close.btn-flat{
    color:#f5d5a0;
}



/*footer*/

footer{
    background-color:black;
    text-align: center;
  }
  
.social{
    display:flex;
    justify-content:center;
  }
  
  .hover img:hover{
    background-color:rgb(72, 40, 36);
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    border-radius:10%;
  }
  
  .hover{
    margin-right:3%;
    margin-left: 3%;
  }
  
  .social{
    padding-bottom:2.5%;
    padding-top:4%;
  }


/*end footer*/



/*modal texts*/

.titlu-program {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color:#492723;
}

.text-program{
    text-align: center !important;
    font-size: 120%;
    color:#492723;
}

.meniu{
    padding-top: 1%;
    text-align: center;
    color:rgb(72, 40, 36);
}

.modal-header{
    color:#492723;
}

/*blur effect*/

.slider-bg-img{
    filter: blur(0px);
    animation:fadein linear 2.5s;
}

@-webkit-keyframes fadein {
    0% {    -webkit-filter: blur(15px);}
   33% { -webkit-filter: blur(10px);}
   66% { -webkit-filter: blur(5px);}
  100% {  -webkit-filter: blur(0px);}
 }
 
#cards{
    margin-top: 80vh;
    padding-top: 30% !important;
    padding-bottom: 10%;
}

.card-title{
    background-color:#492723;
    color:#f5d5a0 !important;
}

.card-content{
    background-color: #f5d5a0 !important;
    color:#492723 !important;
}

.card{
    
    margin-bottom:4% !important;
}

i.material-icons{
    background-color:#492723;
    color: #f5d5a0 !important;
}